<p>Ciao <%= @user.full_name %>,</p>

<p>Sei invitato a partecipare all'evento: <strong><%= @event.name %></strong>!</p>

<p>Per accettare o rifiutare l'invito e registrare i tuoi ospiti, clicca sul link seguente:</p>

<p><%= link_to 'Accetta l\'invito', @url %></p>

<p>Grazie,</p>
<p>Rotary Club Pordenone Alto Livenza</p>