<h1 class="d-flex justify-content-between align-items-center mb-3">Eventi
</h1>

<table class="table table-hover mb-5">
  <thead class="thead-light">
    <tr>
      <th>Nome</th>
      <th>Data</th>
      <th></th> <!-- Rimuovi la scritta "Azioni" -->
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <% if current_user.admin? || event.invitations.exists?(user: current_user) %>
            <%= link_to event.name, event_path(event), class: 'text-decoration-none' %>
          <% else %>
            <%= event.name %>
          <% end %>
        </td>
        <td><%= event.date.strftime("%d/%m/%Y") %></td>
        <td></td> <!-- Rimuovi i link "Modifica" e "Elimina" -->
      </tr>
    <% end %>
  </tbody>
</table>